[user]
	name = Matthew W.
	email = matthew.widdi@gmail.com
[core]
	autocrlf = true
	excludesFile = ~/.gitignore-global
	eol = lf
[rebase]
	autoStash = true
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
