init-author-name=Matthew W.
init-author-email=matthew.widdi@gmail.com
init-author-url=https://mwid.dev
init-license=MIT
init-version=0.1.0
init-type=module
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
